
<table class="table table-striped table-bordered table-condensed table-hover">
    <tr class="success">
        <th class="col-md-2">
            @Html.DisplayName("Lift Family Name")
        </th>
        <th class="col-md-2">
            @Html.DisplayName("Option")
        </th>
        <th class="col-md-7">
            @Html.DisplayName("Description")
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tbody id="optionsDiv"></tbody>
</table>
