<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://zone.timemfg.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bahama.timemfg.prv</MSDeployServiceURL>
    <DeployIisAppPath>zone.timemfg.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>TIME\PaulM</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EpicorInvoiceEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=F7Chevy;Initial Catalog=MfgSys803;Persist Security Info=True;User ID=TimeMFGApp;Password=Tm@Time$!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EpicorInvoiceEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityModels.Epicor.EpicorInvoices.csdl|res://*/EntityModels.Epicor.EpicorInvoices.ssdl|res://*/EntityModels.Epicor.EpicorInvoices.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=F7Chevy;initial catalog=MfgSys803;persist security info=True;user id=TimeMFGApp;password=Tm@Time$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PCInvoiceEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Aruba-Sql1;Initial Catalog=PCInvoice;Persist Security Info=True;User ID=TimeMFGApp;Password=Tm@Time$!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PCInvoiceEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityModels.PcInvoice.PcInvoiceModel.csdl|res://*/EntityModels.PcInvoice.PcInvoiceModel.ssdl|res://*/EntityModels.PcInvoice.PcInvoiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aruba-Sql1;initial catalog=PCInvoice;persist security info=True;user id=TimeMFGApp;password=Tm@Time$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="VersaliftEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Aruba-Sql1;Initial Catalog=Versalift;Persist Security Info=True;User ID=TimeMFGApp;Password=Tm@Time$!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\VersaliftEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityModels.Versalift.VersaliftModel.csdl|res://*/EntityModels.Versalift.VersaliftModel.ssdl|res://*/EntityModels.Versalift.VersaliftModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aruba-Sql1;initial catalog=Versalift;persist security info=True;user id=TimeMFGApp;password=Tm@Time$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DrawingsEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Aruba-SQL1;Initial Catalog=Drawings;Persist Security Info=True;User ID=TimeMFGApp;Password=Tm@Time$!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DrawingsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityModels.DrawingsModel.csdl|res://*/EntityModels.DrawingsModel.ssdl|res://*/EntityModels.DrawingsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aruba-SQL1;initial catalog=Drawings;persist security info=True;user id=TimeMFGApp;password=Tm@Time$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="OrderLogEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Aruba-SQL1;Initial Catalog=OrderLog;Persist Security Info=True;User ID=TimeMFGApp;Password=Tm@Time$!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\OrderLogEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityModels.OrderLog.OrderLogModel.csdl|res://*/EntityModels.OrderLog.OrderLogModel.ssdl|res://*/EntityModels.OrderLog.OrderLogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aruba-SQL1;initial catalog=OrderLog;persist security info=True;user id=TimeMFGApp;password=Tm@Time$!;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TimeMFGEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Aruba-Sql1;Initial Catalog=TimeMFG;Persist Security Info=True;User ID=TimeMFGApp;Password=Tm@Time$!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TimeMFGEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityModels.TimeMfg.TimeMFGModel.csdl|res://*/EntityModels.TimeMfg.TimeMFGModel.ssdl|res://*/EntityModels.TimeMfg.TimeMFGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aruba-Sql1;initial catalog=TimeMFG;persist security info=True;user id=TimeMFGApp;password=Tm@Time$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EpicorEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=F7Chevy;Initial Catalog=MfgSys803;Persist Security Info=True;User ID=TimeMFGApp;Password=Tm@Time$!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EpicorEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityModels.Epicor.EpicorModel.csdl|res://*/EntityModels.Epicor.EpicorModel.ssdl|res://*/EntityModels.Epicor.EpicorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=F7Chevy;initial catalog=MfgSys803;persist security info=True;user id=TimeMFGApp;password=Tm@Time$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LegacyEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Aruba-Sql1;Initial Catalog=Legacy;Persist Security Info=True;User ID=TimeMFGApp;Password=Tm@Time$!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LegacyEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityModels.Legacy.LegacyModel.csdl|res://*/EntityModels.Legacy.LegacyModel.ssdl|res://*/EntityModels.Legacy.LegacyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aruba-Sql1;initial catalog=Legacy;persist security info=True;user id=TimeMFGApp;password=Tm@Time$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ITInventoryEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Aruba-Sql1;Initial Catalog=ITInventory;Persist Security Info=True;User ID=TimeMFGApp;Password=Tm@Time$!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ITInventoryEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityModels.ITInventory.ITInventoryModel.csdl|res://*/EntityModels.ITInventory.ITInventoryModel.ssdl|res://*/EntityModels.ITInventory.ITInventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Aruba-Sql1;initial catalog=ITInventory;persist security info=True;user id=TimeMFGApp;password=Tm@Time$!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DrawingsEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EpicorEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EpicorInvoiceEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LegacyEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OrderLogEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PCInvoiceEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TimeMFGEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VersaliftEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>