<div class="row">
    <div class="col-md-12">
        <a id="showInfo" href="#instructions" data-toggle="collapse" class="btn btn-primary btn-xs">Show Instructions</a>
        <div id="instructions" class="collapse alert alert-info">
            <p>
                This page is divided into two sections. The first section contains the lift <i>Included Document Options</i>, which by default lists all the available options.
                The second section contains the <i>Discarded Options</i>.
            </p>
            <p><span class="label label-success">How to create a Quotation Presentation:</span></p>
            <p><span class="label label-primary">1.</span> Enter the file name. If no file name is provided, it will default to: <i>QuotationFile.docx</i>.</p>
            <p><span class="label label-primary">2.</span> Select the user. If no user is selected, the info for the user in the <i>Quotation Presentation</i> will be left empty.</p>
            <p>
                <span class="label label-primary">3.</span> Drag the options you don't want from the <i>Included Document Options</i> panel and drop them in the <i>Discarded Options</i> panel.
                Once you have all the needed options in the <i>Included Document Options</i> panel, you can sort those options in the order you want them
                to appear in the <i>Quotation Presentation</i>. Just drag them up or down.
            </p>
            <p>
                <span class="label label-primary">4.</span> When you finish removing or adding options to the <i>Included Document Options</i> and the options 
                are in the order you want, click the <span class="label label-primary">Create Quotation Presentation</span> button. You will be prompt to Open or Save the document or the
                document will be download it automatically (It will depend on the browser you're using).
            </p>
            <p>
                <span class="label label-warning">Notice:</span> By default, browsers save documents in the Downloads folder. Move the file to a different folder if this location is not
                convenient for you. 
            </p>
        </div>
    </div>
</div>
