
<div class="col-sm-3" style="display: none;" id="loading_image1">
    <img src=@Url.Content("~/Media/Default/Page/Preloader_3.gif") />&nbsp;Please wait...
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        $('#myForm').submit(function () {
            $('#loading_image1').show(); // show animation
            return true; // allow regular form submission
        });
    </script>
}