@model Time.Epicor.ViewModels.DistributorOrderListVM

@{
    ViewBag.Title = "E10 Distributor Order List";
}

<h2>@ViewBag.Title (@Model.Orders.Count() records)</h2>

@using (Html.BeginForm("Index", "DistributorOrders", FormMethod.Post, new { id = "DistributorSearch" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-8">
        @{Html.RenderAction("_DistributorList", new { id = Model.Distributor });
        }
    </div>

    <div class="col-md-2">
        <input type="submit" value="Search" />
    </div>

            }

<br />

@Html.Partial("_DistributorOrderList", Model.Orders)

@section Scripts {
    <script language="javascript">
        $(function () {
            $('#Distributor').change(function () {
                $('#DistributorSearch').submit();
            });
        });
    </script>
}