@model Time.Epicor.ViewModels.DistributorOrderListVM

@{
    ViewBag.Title = "E10 Distributor Order List";
}

<h2>@ViewBag.Title (@Model.Orders.Count() records)</h2>
<hr />

@using (Html.BeginForm("Index", "DistributorOrders", FormMethod.Post, new { id = "DistributorSearch" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8">
            <div class="input-group">
                @{
                    Html.RenderAction("_DistributorList", new { id = Model.Distributor });
                }
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Go!</button>
                </span>
            </div>
        </div>
    </div>
                    }

<br />

@Html.Partial("_DistributorOrderList", Model.Orders)

@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {
            $('#Distributor').change(function () {
                $('#DistributorSearch').submit();
            });
        });
    </script>
}