@model IEnumerable<Time.Data.EntityModels.TimeMFG.LoadListJobStatu>
@{var count = 0;}
<tr class="JobStatus info lead">
    <td></td>
    <td colspan="9">
        @foreach (var item in Model.Where(x => x.IgnoreFlag != 1))
        {
            count++;
            @Html.DisplayFor(modelItem => item.OpCode) @: :
            @*@Html.DisplayFor(modelItem => item.OpComplete)*@
            
            if(item.OpComplete == 1) {
                <img src='/Content/images/CheckboxFull.png' />
            }
            else {
                <img src='/Content/images/CheckboxEmpty.png' />
            }
            
            @:&nbsp;&nbsp;&nbsp;
            if (count >= 8)
            {
                @:</td></tr><tr class="JobStatus info lead"><td></td><td colspan="9">
                count = 0;
            }
        }
</td>
</tr>
