@{
    ViewBag.Title = "EmailLoadLists";
}

<h1>Email Load Lists</h1>

<ul class="list-inline">
    @*<li>@Html.ActionLink("LoadList Home Page", "Index", null, new { @class = "btn btn-primary" })</li>*@
    <a href="~/Epicor/LoadList/Index" class="btn btn-primary">LoadList Home Page</a>
</ul>
<br />


<h2>
    This functionality is under Construction and is not yet complete.  Please check back at a later time for this functionality to be added
</h2>
