table.dataTable thead > tr > th.sorting_asc, 
table.dataTable thead > tr > th.sorting_desc, 
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'FontAwesome';
  opacity: 0.5;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
    /*content: "\f0dc";*/
    color:#a4a4a4;
    content: "\f176 \f175";
}

table.dataTable thead .sorting_asc:after {
    /*content: "\f0de";*/
    color:#000;
    content: "\f160";
}

table.dataTable thead .sorting_desc:after {
    /*content: "\f0dd";*/
    color:#000;
    content: "\f161";
}

.excelButton{
    margin-bottom:5px;
}

.fa-hand-o-right {
 font-size:25px; 
 color:#CFD8DC;
}

.fa-hand-o-right:hover {
 color: #008c00;
 text-shadow: 0px 0px 5px #00b300,
 0px 0px 10px #00b300, 
 0px 0px 15px #00b300;
 transition-duration: 1s;}

.fa-file-word-o {
 font-size:25px; 
 color:#CFD8DC;
}

.fa-file-word-o:hover {
 color: #3366ff;
 text-shadow: 0px 0px 5px #6e92ff,
 0px 0px 10px #6e92ff, 
 0px 0px 15px #6e92ff;
 transition-duration: 1s;}

.mbri-trash {
 font-size:25px; 
 color:#CFD8DC;}

.mbri-trash:hover {
 color: #940f3c;
 text-shadow: 0px 0px 5px #EC407A,
 0px 0px 10px #EC407A, 
 0px 0px 15px #EC407A;
 transition-duration: 1s;}

.mbri-edit {
 font-size:25px; 
 color:#CFD8DC;}

.mbri-edit:hover {
 color: #0876a9;
 text-shadow: 0px 0px 5px #0baaf4,
 0px 0px 10px #0baaf4, 
 0px 0px 15px #0baaf4;
 transition-duration: 1s;}

.mbri-info {
 font-size:25px; 
 color:#CFD8DC;}

.mbri-info:hover {
 color: #008c00;
 text-shadow: 0px 0px 5px #00b300,
 0px 0px 10px #00b300, 
 0px 0px 15px #00b300;
 transition-duration: 1s;}

.table td.clampClmn {
  max-width: 250px;
  word-wrap: break-word;
}

a{
    text-decoration: none !important;
}
.a:hover{
    text-decoration: none !important;
}

.showDatePicker{
    position: relative; 
    z-index:100000 !important; 
}

.mypanel-header {
    color: #555;
    background-color: #dcdcdc;
    border: solid 1px;
    border-color: #ababab;
    padding: 10px 15px;
    /*border-bottom: 1px solid transparent;*/
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.mypanel-body {
    padding: 50px;
    display: none;
    border: solid 1px;
    border-color: #ababab;
    padding: 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

