.dl-horizontal > dd:after {
    display: table;
    content: "";
    clear: both;
}

dl {
    vertical-align: top;
}

/*@font-face{
    font-family:'Glyphicons Halflings' !important;
    src:url(~/Modules/Time.IT/fonts/glyphicons-halflings-regular.eot) !important;
    src:url(~/Modules/Time.IT/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
        url(~/Modules/Time.IT/fonts/glyphicons-halflings-regular.woff) format('woff'),
        url(~/Modules/Time.IT/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
        url(~/Modules/Time.IT/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg') !important
}*/