@model Time.Epicor.ViewModels.V8QuoteOrderSearchVM

@{
    ViewBag.Title = "Vantage 8 Quote / Order Search";
}

<div class="col-md-12">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <hr />
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Search, null, htmlAttributes: new { @class = "form-control", @placeholder = "Search for..." })
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <hr />
    }

    @if (Model.Details != null)
    {

        @Html.Partial("_QuoteOrderList", Model.Details)
    }
</div>