@{
    ViewBag.Title = "Reset Confirmed";
}

<h2>@ViewBag.Title</h2>

    <p>
        You should shortly receive an email with a link to click.<br />
        Please click on the link and follow the instructions to Change your domain password.<br />
    </p>