@{
    ViewBag.Title = "Issue Operation Confirmed";
}

<h2>@ViewBag.Title</h2>

<p>
    The job and operaton will be issued within a few moments<br />
    @*Please click on the link and follow the instructions to Change your domain password.<br />*@
</p>