
<div id="modalForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="margin-top: 50px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">More Info <i style="font-size:40px;" class="fa fa-question-circle-o" aria-hidden="true"></i></h3>
            </div>
            <div class="modal-body">
                <div id="form-content">
                    Loading...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
