<div class="alert alert-info">
    <h2>What you will find in the VSW Install Options (Groups with Options) pages:</h2>

    <h4 class="alert alert-success text-center">Install Options, Cost, and Hours from the <i>Installation Quotation</i></h4>
    <p class="alert alert-success">Also, a check box to flag the Option to be charged with the <i>Paint Rate</i> if paint related.</p>
    <br />
    <div style="width:820px;">
        <img src=@Url.Content("~/Media/Default/Page/vswOptions.PNG") class="img-thumbnail img-responsive" />
    </div>
</div>
