
@{ string url = HttpContext.Current.Server.MapPath("~/Modules/Time.Install/Content/images/"); }

<div class="alert alert-info">
    <h2>What you will find in the Lift Family pages:</h2>
    <h4>Lift Family Name and Description</h4>
    <div>
        <img src=@Url.Content("~/Media/Default/Page/liftDescription.PNG") />
    </div>
    <h4>Installation Specifications</h4>
    <div></div>
    <h4>Base Install Hours</h4>
    <div></div>
</div>
