<div class="alert alert-info">
    <h2>What you will find in the VSW Hour/Paint Rates pages:</h2>

    <h4 class="alert alert-success text-center">Hour/Paint Rates from the <i>Installation Quotation</i></h4>
    <div>
        <img src=@Url.Content("~/Media/Default/Page/vswHourlyRates.PNG")  class="imgAutoWidth"/>
    </div>
</div>
