<div class="alert alert-info">
    <h2>What you will find in the VSW Option Group (Groups Only) pages:</h2>
    
    <h4 class="alert alert-success text-center">Option Groups from the <i>Installation Quotation</i></h4>
    <div>
        <img src=@Url.Content("~/Media/Default/Page/vswOptionGroup.PNG")  class="imgAutoWidth"/>
    </div>
</div>