

<div class="alert alert-info">
    <h2>What you will find in the Option Names and Descriptions pages:</h2>

    <h4 class="alert alert-success text-center">Option Names and Descriptions from the <i>Quotation Presentation</i></h4>
    <div style="width:820px;">
        <img src=@Url.Content("~/Media/Default/Page/optionNameAndDescr.PNG") class="img-thumbnail img-responsive"/>
    </div>
</div>

