

<div class="alert alert-info">
    <h2>What you will find in the Installation Details pages:</h2>

    <h4 class="alert alert-success text-center">Installation Details from the <i>Quotation Presentation</i></h4>
    <div>
        <img src=@Url.Content("~/Media/Default/Page/installDetails.PNG")  class="imgAutoWidth"/>
    </div>
</div>


