@model IEnumerable<Time.Data.EntityModels.ITInventory.AttachmentForComputer>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.FileName, "DownloadAttachment", new { id = item.ComputerId, modelOrComputer = "Computer" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadedDate)
        </td>
    </tr>
}