<div class="row">
    <div class="col-md-12">
        <a id="showInfo" href="#instructions" data-toggle="collapse" class="btn btn-primary btn-xs">Show Instructions</a>
        <div id="instructions" class="collapse alert alert-info">
            <p>
                To successfully import VSW options, this page needs three pieces of information: Option, Cost, and Hours. If one of these is missing, the program will error out.
                You can import more than one option at a time. Just copy all the options, cost, and hours for that group.
            </p>
            <p><span class="label label-success">Here is how to do it:</span></p>
            <p><span class="label label-primary">1.</span> Select the Lift Family from the drop down list</p>
            <p><span class="label label-primary">2.</span> Select a VSW Group from the drop down list</p>
            <p><span class="label label-primary">3.</span> Copy the options, cost, and hours from the Master Sheet in EXCEL and paste them in the text box</p>
            <br />
            <p><span class="label label-warning">Notice:</span> If you get an error while importing the options, make sure you have Option, Cost, and Hours for every option you pasted in the textbox.</p>
        </div>
    </div>
</div>
