@model Time.Epicor.ViewModels.V8WhereUsedBomVM

@{
    ViewBag.Title = "Vantage 8 Where Used / BOM Search";
}

<div class="col-md-12">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <div>
            <hr />
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Search)
                </div>
                <div class="col-md-1">
                    <input type="submit" name="submitButton" value="Search" />
                </div>
            </div>
        </div>
    }
    <div class="col-md-12">
        @{ Html.RenderAction("_BOM", new { vm = Model }); }
    </div>
    <div class="col-md-12">
        @{ Html.RenderAction("_WhereUsed", new { vm = Model }); }
    </div>
</div>