
<div id="modalForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg"  style="margin-top: 50px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">IT Maintenace Details</h3>
            </div>
            <div class="modal-body">
                <div id="form-content">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>
