@*@model Time.Data.EntityModels.Configurator.ComplexStructure*@

<div class="alert alert-info">
    <h4 class="text-info">Criteria Descriptions:</h4>

    @{ int count = 1; }
    @if (ViewBag.Notes != null)
    {
        foreach (var item in ViewBag.Notes as IEnumerable<Time.Data.EntityModels.Configurator.ComplexStructure>)
        {

            <div>
                <b>Criteria @(count) :</b>&nbsp;&nbsp;&nbsp;@item.Notes
            </div>

            count++;
        }
    }
</div>