@model Time.Epicor.ViewModels.WhereUsedBomVM

@{
    ViewBag.Title = "Epicor 10 Where Used / BOM Search";
}

<div class="col-md-12">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <hr />
        <div class="row">
            <div class="col-xs-4">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Search, null, htmlAttributes: new { @placeholder = "Search for..." })
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <hr />
        @*<div>
            <hr />
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Search)
                </div>
                <div class="col-md-1">
                    <input type="submit" name="submitButton" value="Search" />
                </div>
            </div>
        </div>*@
    }
    <div class="col-md-12">
        @{ Html.RenderAction("_BOM", new { vm = Model }); }
    </div>
    <div class="col-md-12">
        @{ Html.RenderAction("_WhereUsed", new { vm = Model }); }
    </div>
</div>