@model Time.Data.EntityModels.Configurator.ComplexStructure


<tr>
    <td>
        @Model.Sequence
    </td>
    <td>
        @Model.LookupData
    </td>
    <td>
        @Model.Notes
    </td>
    <td>
        @Model.LookupSeq
    </td>
</tr>
